@{
    Layout = "../_ExampleLayout.cshtml";
}

@RenderBody()

@section css {
    @RenderSection("css", required: false)
}

@section js {
    @RenderSection("js", required: false)
}




<!-- ======================================
Example text
======================================== -->

<div class="header">
    <a name="Main"></a>


    <a name="_articleTop" id="_articleTop"></a>
    <div class="title">
        <h1 id="ctl00_ArticleTitle">LINQ to CSV library</h1>
    </div>


    <div id="ctl00_DescriptionSpot" class="summary">Easy to use library to use CSV and tab delimited files with LINQ queries.</div><span id="ctl00_ThumbnailUrl" class="date" content="https://codeproject.global.ssl.fastly.net/script/Articles/Images/article100x80.png"></span>

</div>




<div id="contentdiv" class="text">




    <ul class="download">
        <li><a href="https://github.com/mperdeck/LINQtoCSV">Source and sample code</a></li>
        <li><a href="http://nuget.org/List/Packages/LinqToCsv" target="_blank">NuGet package</a></li>
    </ul>

    <h2>Contents</h2>

    <ul>
        <li><a href="#Introduction">Introduction</a></li>
        <li><a href="#Requirements">Requirements</a></li>
        <li><a href="#Installation">Installation</a></li>
        <li><a href="#How_to_use">Quick Start</a></li>
        <li><a href="#Write_Overloads">Write Overloads</a></li>
        <li><a href="#Read_Overloads">Read Overloads</a></li>
        <li><a href="#ReadingRawDataRows">Reading Raw Data Rows</a></li>
        <li><a href="#DeferredReading">Deferred Reading</a></li>
        <li><a href="#CsvFileDescription">CsvFileDescription</a></li>
        <li><a href="#CsvColumn_Attribute">CsvColumn Attribute</a></li>
        <li><a href="#Error_Handling">Error Handling</a></li>
        <li><a href="#History">History</a></li>
        <li><a href="#Contribute">New Features and Bug Fixes</a></li>
    </ul>

    <h2>Introduction</h2>

    <p>This library makes it easy to use CSV files with LINQ queries. Its features include:</p>

    <ul>
        <li>Follows the <a href="http://www.creativyst.com/Doc/Articles/CSV/CSV01.htm" target="_blank">most common rules for CSV files</a>. Correctly handles data fields that contain commas and line breaks.</li>
        <li>In addition to comma, most delimiting characters can be used, including tab for tab delimited fields.</li>
        <li>Can be used with an <code>IEnumarable</code> of an anonymous class - which is often returned by a LINQ query.</li>
        <li>Supports deferred reading.</li>
        <li>Supports processing files with international date and number formats.</li>
        <li>Supports different character encodings if you need them.</li>
        <li>Recognizes a wide variety of date and number formats when reading files.</li>
        <li>Provides fine control of date and number formats when writing files.</li>
        <li>Robust error handling, allowing you to quickly find and fix problems in large input files.</li>
    </ul>

    <h2>Requirements</h2>

    <ul>
        <li>To compile the library, you need a C# 2010 compiler or better, such as Visual Studio 2010 or Visual C# 2010 Express Edition.</li>
        <li>To run the library code, you need to have the .NET 4.0 framework installed.</li>
    </ul>

    <h2>Installation</h2>

    <p>Simply install the <a href="http://nuget.org/List/Packages/LinqToCsv" target="_blank">NuGet package</a>.</p>

    <h2>Quick Start</h2>

    <h3>Reading from a file</h3>

    <ol>
        <li>In your project, add a reference to the <em>LINQtoCSV.dll</em> you generated during <a href="#Installation">Installation</a>.</li>
        <li>
            The file will be read into an <code>IEnumerable&lt;T&gt;</code>, where <code>T</code> is a data class that you define. The data records read from the file will be stored in objects of this data class. You could define a data class along these lines:
            <div class='pre-lang' id='premain290070'><div>C#</div><div class='pre-action-link'><span id='copycode290070' class='copy-code' data-index='290070' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre290070' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">using</span> LINQtoCSV;
<span class="code-keyword">using</span> System;
<span class="code-keyword">class</span> Product
{
    [CsvColumn(Name = <span class="code-string">"</span><span class="code-string">ProductName"</span>, FieldIndex = <span class="code-digit">1</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">string</span> Name { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">2</span>, OutputFormat = <span class="code-string">"</span><span class="code-string">dd MMM HH:mm:ss"</span>)]
            <span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">3</span>, CanBeNull = <span class="code-keyword">false</span>, OutputFormat = <span class="code-string">"</span><span class="code-string">C"</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">decimal</span> Price { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">4</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">string</span> Country { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">5</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">string</span> Description { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
}</pre>

            <p>With this definition, you could read into an <code>IEnumerable&lt;Product&gt;</code>.</p>

            <p>Although this example only uses properties, the library methods will recognize simple fields as well. Just make sure your fields/properties are public.</p>

            <p>The optional <code>CsvColumn</code> attribute allows you to specify whether a field/property is required, how it should be written to an output file, etc. Full details are available <a href="#CsvColumn_Attribute">here</a>.</p>
        </li>
        <li>
            Import the <code>LINQtoCSV</code> namespace at the top of the source file where you'll be reading the file:
            <div class='pre-lang' id='premain229693'><div>C#</div><div class='pre-action-link'><span id='copycode229693' class='copy-code' data-index='229693' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre229693' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">using</span> LINQtoCSV;</pre>
        </li>
        <li>
            Create a <code>CsvFileDescription</code> object, and initialize it with details about the file that you're going to read. It will look like this:
            <div class='pre-lang' id='premain493350'><div>C#</div><div class='pre-action-link'><span id='copycode493350' class='copy-code' data-index='493350' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre493350' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvFileDescription inputFileDescription = <span class="code-keyword">new</span> CsvFileDescription
{
    SeparatorChar = <span class="code-string">&#39;</span><span class="code-string">,&#39;</span>, 
    FirstLineHasColumnNames = <span class="code-keyword">true</span>
};</pre>

            <p>This allows you to specify what character is used to separate data fields (comma, tab, etc.), whether the first record in the file holds column names, and a lot more (<a href="#CsvFileDescription">full details</a>).</p>
        </li>
        <li>
            Create a <code>CsvContext</code> object:
            <div class='pre-lang' id='premain592776'><div>C#</div><div class='pre-action-link'><span id='copycode592776' class='copy-code' data-index='592776' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre592776' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvContext cc = <span class="code-keyword">new</span> CsvContext();</pre>

            <p>It is this object that exposes the <code>Read</code> and <code>Write</code> methods you'll use to read and write files.</p>
        </li>
        <li>
            Read the file into an <code>IEnumerable&lt;T&gt;</code> using the <code>CsvContext</code> object's <code>Read</code> method, like this:
            <div class='pre-lang' id='premain406633'><div>C#</div><div class='pre-action-link'><span id='copycode406633' class='copy-code' data-index='406633' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre406633' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
IEnumerable&lt;Product&gt; products =
    cc.Read&lt;Product&gt;(<span class="code-string">"</span><span class="code-string">products.csv"</span>, inputFileDescription);</pre>

            <p>This reads the file <em>products.csv</em> into the variable <code>products</code>, which is of type <code>IEnumerable&lt;Product&gt;</code>.</p>
        </li>
        <li>
            You can now access <code>products</code> via a LINQ query, a <code>foreach</code> loop, etc.:
            <div class='pre-lang' id='premain810426'><div>SQL</div><div class='pre-action-link'><span id='copycode810426' class='copy-code' data-index='810426' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre810426' style='margin-top:0;' class=' lang-sql' data-language='sql' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
var productsByName =
            <span class="code-keyword">from</span> p <span class="code-keyword">in</span> products
    orderby p.Name
            <span class="code-keyword">select</span> new { p.Name, p.LaunchDate, p.Price, p.Description };
// <span class="code-keyword">or</span> ...
foreach (Product item <span class="code-keyword">in</span> products) { .... }</pre>
        </li>
    </ol>

    <p>To make it easier to get an overview, here is the code again that reads from a file, but now in one go:</p>

    <div class='pre-lang' id='premain802592'><div>C#</div><div class='pre-action-link'><span id='copycode802592' class='copy-code' data-index='802592' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre802592' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvFileDescription inputFileDescription = <span class="code-keyword">new</span> CsvFileDescription
{
    SeparatorChar = <span class="code-string">&#39;</span><span class="code-string">,&#39;</span>, 
    FirstLineHasColumnNames = <span class="code-keyword">true</span>
};
CsvContext cc = <span class="code-keyword">new</span> CsvContext();
IEnumerable&lt;Product&gt; products =
    cc.Read&lt;Product&gt;(<span class="code-string">"</span><span class="code-string">products.csv"</span>, inputFileDescription);
<span class="code-comment">//</span><span class="code-comment"> Data is now available via variable products.</span>
<span class="code-keyword">var</span> productsByName =
    <span class="code-sdkkeyword">from</span> p <span class="code-keyword">in</span> products
    <span class="code-sdkkeyword">orderby</span> p.Name
    <span class="code-sdkkeyword">select</span> <span class="code-keyword">new</span> { p.Name, p.LaunchDate, p.Price, p.Description };
<span class="code-comment">//</span><span class="code-comment"> or ...</span>
<span class="code-keyword">foreach</span> (Product item <span class="code-keyword">in</span> products) { .... }</pre>

    <p>You'll find this same code in the SampleCode project in the <a href="https://github.com/mperdeck/LINQtoCSV">sources</a>. </p>

    <h3>Writing to a file</h3>

    <p>This is very similar to <a href="#How_to_use">reading a file</a>.</p>

    <ol>
        <li>In your project, add a reference to <em>LINQtoCSV.dll</em>.</li>
        <li>
            The <code>Write</code> method takes a <code>IEnumerable&lt;T&gt;</code> and writes each object of type <code>T</code> in the <code>IEnumerable&lt;T&gt;</code> as a data record to the file. The definition of your data class could look like this:
            <div class='pre-lang' id='premain878697'><div>C#</div><div class='pre-action-link'><span id='copycode878697' class='copy-code' data-index='878697' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre878697' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">using</span> LINQtoCSV;
<span class="code-keyword">using</span> System;
<span class="code-keyword">class</span> Product
{
    [CsvColumn(Name = <span class="code-string">"</span><span class="code-string">ProductName"</span>, FieldIndex = <span class="code-digit">1</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">string</span> Name { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">2</span>, OutputFormat = <span class="code-string">"</span><span class="code-string">dd MMM HH:mm:ss"</span>)]
            <span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">3</span>, CanBeNull = <span class="code-keyword">false</span>, OutputFormat = <span class="code-string">"</span><span class="code-string">C"</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">decimal</span> Price { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">4</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">string</span> Country { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(FieldIndex = <span class="code-digit">5</span>)]
            <span class="code-keyword">public</span> <span class="code-keyword">string</span> Description { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
}</pre>

            <p>The optional <a href="#CsvColumn_Attribute"><code>CsvColumn</code></a> attribute allows you to specify such things as what date and number formats to use when writing each data field. Details for all CsvColumn properties (<code>CanBeNull</code>, <code>OutputFormat</code>, etc.) are available <a href="#CsvColumn_Attribute">here</a>.</p>

            <p>Although this example only uses properties, you can also use simple fields.</p>

            <p>The <code>Write</code> method will happily use an anonymous type for <code>T</code>, so you can write the output of a LINQ query right to a file. In that case, you obviously won't define <code>T</code> yourself. <a href="#WriteAnonymous">Later on</a>, you'll see an example of this.</p>
        </li>
        <li>
            Import the <code>LINQtoCSV</code> namespace at the top of the source file where you'll be writing the file:
            <div class='pre-lang' id='premain546671'><div>C#</div><div class='pre-action-link'><span id='copycode546671' class='copy-code' data-index='546671' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre546671' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">using</span> LINQtoCSV;</pre>
        </li>
        <li>
            Make sure the data is stored in an object that implements <code>IEnumerable&lt;T&gt;</code>, such as a <code>List&lt;T&gt;</code>, or the <code>IEnumerable&lt;T&gt;</code> returned by the <code>Read</code> method.
            <div class='pre-lang' id='premain679629'><div>C#</div><div class='pre-action-link'><span id='copycode679629' class='copy-code' data-index='679629' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre679629' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
List&lt;Product&gt; products2 = <span class="code-keyword">new</span> List&lt;Product&gt;();
<span class="code-comment">//</span><span class="code-comment"> Fill the list with products</span>
<span class="code-comment">//</span><span class="code-comment"> ...</span></pre>
        </li>
        <li>
            Create a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> object, and initialize it with details about the file you will be writing, along these lines:
            <div class='pre-lang' id='premain175979'><div>C#</div><div class='pre-action-link'><span id='copycode175979' class='copy-code' data-index='175979' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre175979' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvFileDescription outputFileDescription = <span class="code-keyword">new</span> CsvFileDescription
{
    SeparatorChar = <span class="code-string">&#39;</span><span class="code-string">\t&#39;</span>, <span class="code-comment">//</span><span class="code-comment"> tab delimited</span>
    FirstLineHasColumnNames = <span class="code-keyword">false</span>, <span class="code-comment">//</span><span class="code-comment"> no column names in first record</span>
    FileCultureName = <span class="code-string">"</span><span class="code-string">nl-NL"</span> <span class="code-comment">//</span><span class="code-comment"> use formats used in The Netherlands</span>
};</pre>
        </li>
        <li>
            Create a <code>CsvContext</code> object:
            <div class='pre-lang' id='premain842229'><div>C#</div><div class='pre-action-link'><span id='copycode842229' class='copy-code' data-index='842229' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre842229' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvContext cc = <span class="code-keyword">new</span> CsvContext();</pre>
        </li>
        <li>
            Invoke the <code>Write</code> method exposed by the <code>CsvContext</code> object to write the contents of your <code>IEnumerable&lt;T&gt;</code> to a file:
            <div class='pre-lang' id='premain632509'><div>C#</div><div class='pre-action-link'><span id='copycode632509' class='copy-code' data-index='632509' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre632509' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
cc.Write(
    products2,
            <span class="code-string">"</span><span class="code-string">products2.csv"</span>,
    outputFileDescription);</pre>

            <p>This writes the <code>Product</code> objects in the variable <code>products2</code> to the file "<em>products2.csv</em>".</p>
        </li>
    </ol>

    <p>Here is the code again that writes a file, but now in one go:</p>

    <div class='pre-lang' id='premain178315'><div>C#</div><div class='pre-action-link'><span id='copycode178315' class='copy-code' data-index='178315' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre178315' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
List&lt;Product&gt; products2 = <span class="code-keyword">new</span> List&lt;Product&gt;();
<span class="code-comment">//</span><span class="code-comment"> Fill the list with products</span>
<span class="code-comment">//</span><span class="code-comment"> ...</span>
CsvFileDescription outputFileDescription = <span class="code-keyword">new</span> CsvFileDescription
{
    SeparatorChar = <span class="code-string">&#39;</span><span class="code-string">\t&#39;</span>, <span class="code-comment">//</span><span class="code-comment"> tab delimited</span>
    FirstLineHasColumnNames = <span class="code-keyword">false</span>, <span class="code-comment">//</span><span class="code-comment"> no column names in first record</span>
    FileCultureName = <span class="code-string">"</span><span class="code-string">nl-NL"</span> <span class="code-comment">//</span><span class="code-comment"> use formats used in The Netherlands</span>
};
CsvContext cc = <span class="code-keyword">new</span> CsvContext();
cc.Write(
    products2,
    <span class="code-string">"</span><span class="code-string">products2.csv"</span>,
    outputFileDescription);</pre>

    <h3><a id="WriteAnonymous">Writing an IEnumerable of anonymous type</a></h3>

    <p>If you have a LINQ query producing an <code>IEnumerable</code> of anonymous type, writing that <code>IEnumerable</code> to a file is no problem:</p>

    <div class='pre-lang' id='premain441901'><div>C#</div><div class='pre-action-link'><span id='copycode441901' class='copy-code' data-index='441901' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre441901' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvFileDescription outputFileDescription = <span class="code-keyword">new</span> CsvFileDescription
{
.....
};
CsvContext cc = <span class="code-keyword">new</span> CsvContext();
<span class="code-comment">//</span><span class="code-comment"> LINQ query returning IEnumerable of anonymous type</span>
<span class="code-comment">//</span><span class="code-comment"> into productsNetherlands</span>
<span class="code-keyword">var</span> productsNetherlands =
    <span class="code-sdkkeyword">from</span> p <span class="code-keyword">in</span> products
    <span class="code-sdkkeyword">where</span> p.Country == <span class="code-string">"</span><span class="code-string">Netherlands"</span>
    <span class="code-sdkkeyword">select</span> <span class="code-keyword">new</span> { p.Name, p.LaunchDate, p.Price, p.Description };
<span class="code-comment">//</span><span class="code-comment"> Write contents of productsNetherlands to file</span>
cc.Write(
    productsNetherlands,
    <span class="code-string">"</span><span class="code-string">products-Netherlands.csv"</span>, 
    outputFileDescription);</pre>

    <p>Here, a LINQ query selects all products for "Netherlands" from the variable <code>products</code>, and returns an <code>IEnumerable</code> holding objects of some anonymous type that has the fields <code>Name</code>, <code>LaunchDate</code>, <code>Price</code>, and <code>Description</code>. The <code>Write</code> method then writes those objects to the file <em>products-Netherlands.csv</em>.</p>

    <h2>CsvContext.Write Overloads</h2>

    <ul class="method">
        <li><code>Write&lt;T&gt;(IEnumerable&lt;T&gt; values, string fileName)</code></li>
        <li><code>Write&lt;T&gt;(IEnumerable&lt;T&gt; values, string fileName, CsvFileDescription fileDescription)</code></li>
        <li><code>Write&lt;T&gt;(IEnumerable&lt;T&gt; values, TextWriter stream)</code></li>
        <li><code>Write&lt;T&gt;(IEnumerable&lt;T&gt; values, TextWriter stream, CsvFileDescription fileDescription)</code></li>
    </ul>

    <p>Some interesting facts about these overloads:</p>

    <ul>
        <li>None of the overloads return a value.</li>
        <li>Unlike the <code>Read</code> method, <code>Write</code> does not require that <code>T</code> has a parameterless constructor.</li>
        <li>Overloads that take a stream write the data to the stream. Those that take a file name write the data to the file.</li>
        <li>Overloads that do not take a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> object simply create one themselves, using the default values for the <code>CsvFileDescription</code> properties.</li>
    </ul>

    <h2>CsvContext.Read Overloads</h2>

    <ul class="method">
        <li><code>Read&lt;T&gt;(string fileName)</code></li>
        <li><code>Read&lt;T&gt;(string fileName, CsvFileDescription fileDescription)</code></li>
        <li><code>Read&lt;T&gt;(StreamReader stream)</code></li>
        <li><code>Read&lt;T&gt;(StreamReader stream, CsvFileDescription fileDescription)</code></li>
    </ul>

    <p>Some interesting facts about these overloads:</p>

    <ul>
        <li>Each overload returns an <code>IEnumerable&lt;T&gt;</code>.</li>
        <li><code>T</code> must have a parameterless constructor. If you do not define a constructor for <code>T</code>, the compiler will generate a parameterless constructor for you.</li>
        <li>Overloads that take a stream read the data from the stream. Those that take a file name read the data from the file. However, see the section on <a href="#DeferredReading">deferred reading</a>.</li>
        <li>Overloads that do not take a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> object simply create one themselves, using the default values for the <code>CsvFileDescription</code> properties.</li>
    </ul>

    <h2>Reading Raw Data Rows</h2>

    <p>Sometimes it's easier to read the raw data fields from the CSV file, instead of having them processed into objects by the library. For example if different rows can have different formats, or if you don't know at compile time which field is going to hold what data.</p>

    <p>You can make this happen by having your type T implement the interface <code>IDataRow</code>. This interface is included in the library, so you don't have to write it yourself. It essentially just describes a collection of <code>DataRowItem</code> objects:</p>

    <div class='pre-lang' id='premain33141'><div>C#</div><div class='pre-action-link'><span id='copycode33141' class='copy-code' data-index='33141' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre33141' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">public</span> <span class="code-keyword">interface</span> IDataRow
{
    <span class="code-comment">//</span><span class="code-comment"> Number of data row items in the row.</span>
    <span class="code-keyword">int</span> Count { <span class="code-keyword">get</span>; }
    <span class="code-comment">//</span><span class="code-comment"> Clear the collection of data row items.</span>
    <span class="code-keyword">void</span> Clear();
    <span class="code-comment">//</span><span class="code-comment"> Add a data row item to the collection.</span>
    <span class="code-keyword">void</span> Add(DataRowItem item);
    <span class="code-comment">//</span><span class="code-comment"> Allows you to access each data row item with an array index, such as</span>
    <span class="code-comment">//</span><span class="code-comment"> row[i]</span>
    DataRowItem this[int index] { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
}</pre>

    <p>The <code>DataRowItem</code> class is also defined in the library. It describes each individual field within a data row:</p>

    <div class='pre-lang' id='premain835421'><div>C#</div><div class='pre-action-link'><span id='copycode835421' class='copy-code' data-index='835421' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre835421' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">public</span> <span class="code-keyword">class</span> DataRowItem
{
    ...
    <span class="code-comment">//</span><span class="code-comment"> Line number of the field</span>
    <span class="code-keyword">public</span> <span class="code-keyword">int</span> LineNbr  { <span class="code-keyword">get</span> { ... } }
    <span class="code-comment">//</span><span class="code-comment"> Value of the field</span>
    <span class="code-keyword">public</span> <span class="code-keyword">string</span> Value { <span class="code-keyword">get</span> { ... } }
}</pre>

    <p>The line number is included in the <code>DataRowItem</code> class, because data rows can span multiple lines.</p>

    <p>The easiest way to create a class that implements <code>IDataRow</code> is to derive it from <code>List&lt;DataRowItem&gt;</code>:</p>

    <div class='pre-lang' id='premain253105'><div>C#</div><div class='pre-action-link'><span id='copycode253105' class='copy-code' data-index='253105' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre253105' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">using</span> LINQtoCSV;
<span class="code-keyword">internal</span> <span class="code-keyword">class</span> MyDataRow : List&lt;DataRowItem&gt;, IDataRow
{
}</pre>

    <p>Now you can read the CSV file into a collection of <code>MyDataRow</code> objects:</p>

    <div class='pre-lang' id='premain917100'><div>C#</div><div class='pre-action-link'><span id='copycode917100' class='copy-code' data-index='917100' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre917100' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
IEnumerable&lt;MyDataRow&gt; products =
    cc.Read&lt;MyDataRow&gt;(<span class="code-string">"</span><span class="code-string">products.csv"</span>, inputFileDescription);</pre>

    <p>You can then access each individual field within each data row:</p>

    <div class='pre-lang' id='premain14564'><div>C#</div><div class='pre-action-link'><span id='copycode14564' class='copy-code' data-index='14564' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre14564' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">foreach</span> (MyDataRow dataRow <span class="code-keyword">in</span> products)
{
    <span class="code-keyword">string</span> firstFieldValue = dataRow[0].Value;
    <span class="code-keyword">int</span> firstFieldLineNbr = dataRow[0].LineNbr;
    <span class="code-keyword">string</span> secondFieldValue = dataRow[1].Value;
    <span class="code-keyword">int</span> secondFieldLineNbr = dataRow[1].LineNbr;
    ...
}</pre>

    <h2>Deferred Reading</h2>

    <p>Here is how the <code>Read</code> overloads implement deferred reading:</p>

    <ul>
        <li>When you invoke the <code>Read</code> method (which returns an <code>IEnumerable&lt;T&gt;</code>), no data is read yet. If using a file, the file is not yet opened.</li>
        <li>When the Enumerator is retrieved from the <code>IEnumerable&lt;T&gt;</code> (for example, when starting a <code>foreach</code> loop), the file is opened for reading. If using a stream, the stream is rewound (seek to start of the stream).</li>
        <li>Each time you retrieve a new object from the Enumerator (for example, while looping through a <code>foreach</code>), a new record is read from the file or stream.</li>
        <li>When you close the Enumerator (for example, when a <code>foreach</code> ends or when you break out of it), the file is closed. If using a stream, the stream is left unchanged.</li>
    </ul>

    <p>This means that:</p>

    <ul>
        <li>If reading from a file, the file will be open for reading while you're accessing the <code>IEnumerable&lt;T&gt;</code> in a <code>foreach</code> loop.</li>
        <li>The file can be updated in between accesses. You could access the <code>IEnumerable&lt;T&gt;</code> in a <code>foreach</code> loop, then update the file, then access the <code>IEnumerable&lt;T&gt;</code> again in a <code>foreach</code> loop to pick up the new data, etc. You only need to call <code>Read</code> once at the beginning, to get the <code>IEnumerable&lt;T&gt;</code>.</li>
    </ul>

    <h2>CsvFileDescription</h2>

    <p>The <code>Read</code> and <code>Write</code> methods need some details about the file they are reading or writing, such as whether the first record contains column names.</p>

    <p>As shown in the <a href="#How_to_use">Reading from a file</a> and <a href="#writing_to_a_file">Writing to a file</a> examples, you put those details in an object of type <code>CsvFileDescription</code>, which you then pass to the <code>Read</code> or <code>Write</code> method. This prevents lengthy parameter lists, and allows you to use the same details for multiple files.</p>

    <p>A <code>CsvFileDescription</code> object has these properties:</p>

    <ul class="property">
        <li><a href="#SeparatorChar"><code>SeparatorChar</code></a></li>
        <li><a href="#QuoteAllFields"><code>QuoteAllFields</code></a></li>
        <li><a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a></li>
        <li><a href="#EnforceCsvColumnAttribute"><code>EnforceCsvColumnAttribute</code></a></li>
        <li><a href="#FileCultureName"><code>FileCultureName</code></a></li>
        <li><a href="#TextEncoding"><code>TextEncoding</code></a></li>
        <li><a href="#DetectEncodingFromByteOrderMarks"><code>DetectEncodingFromByteOrderMarks</code></a></li>
        <li><a href="#MaximumNbrExceptions"><code>MaximumNbrExceptions</code></a></li>
        <li><a href="#NoSeparatorChar"><code>NoSeparatorChar</code></a></li>
        <li><a href="#UseFieldIndexForReadingData"><code>UseFieldIndexForReadingData</code></a></li>
        <li><a href="#IgnoreTrailingSeparatorChar"><code>IgnoreTrailingSeparatorChar</code></a></li>
        <li><a href="#IgnoreUnknownColumns"><code>IgnoreUnknownColumns</code></a></li>
    </ul>

    <h3><a id="SeparatorChar">SeparatorChar</a></h3>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>char</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td>','</td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading and Writing</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain655512'><div>C#</div><div class='pre-action-link'><span id='copycode655512' class='copy-code' data-index='655512' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre655512' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
CsvFileDescription fd = <span class="code-keyword">new</span> CsvFileDescription();
fd.SeparatorChar = <span class="code-string">&#39;</span><span class="code-string">\t&#39;</span>; <span class="code-comment">//</span><span class="code-comment"> use tab delimited file</span>
CsvContext cc = <span class="code-keyword">new</span> CsvContext();
cc.Write(data, <span class="code-string">"</span><span class="code-string">file.csv"</span>, fd);</pre>

    <p>The character used to separate fields in the file. This would be a comma for CSV files, or a '\t' for a tab delimited file.</p>

    <p>You can use any character you like, except for white space characters or the double quote (").</p>

    <h3><a id="QuoteAllFields">QuoteAllFields</a></h3>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>false</code></td>		</tr>		<tr>			<td><strong>Applies to:</strong></td>			<td>Writing only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain543254'><div>C#</div><div class='pre-action-link'><span id='copycode543254' class='copy-code' data-index='543254' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre543254' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.QuoteAllFields = <span class="code-keyword">true</span>; <span class="code-comment">//</span><span class="code-comment"> forces quotes around all fields</span></pre>

    <p>When <code>false</code>, <code>Write</code> only puts quotes around data fields when needed, to avoid confusion - for example, when the field contains the <code>SeparatorChar</code> or a line break.</p>

    <p>When <code>true</code>, <code>Write</code> surrounds all data fields with quotes.</p>

    <h3><a name="FirstLineHasColumnNames">FirstLineHasColumnNames</a></h3>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td><code>true</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading and Writing</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain871572'><div>C#</div><div class='pre-action-link'><span id='copycode871572' class='copy-code' data-index='871572' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre871572' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.FirstLineHasColumnNames = <span class="code-keyword">false</span>; <span class="code-comment">//</span><span class="code-comment"> first record does not have column headers</span></pre>

    <p>When reading a file, tells <code>Read</code> whether to interpret the data fields in the first record in the file as column headers.</p>

    <p>When writing a file, tells <code>Write</code> whether to write column headers as the first record of the file.</p>

    <h3><a name="EnforceCsvColumnAttribute"></a>EnforceCsvColumnAttribute</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>false</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading and Writing</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain165877'><div>C#</div><div class='pre-action-link'><span id='copycode165877' class='copy-code' data-index='165877' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre165877' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.EnforceCsvColumnAttribute = <span class="code-keyword">true</span>; <span class="code-comment">//</span><span class="code-comment"> only use fields with [CsvColumn] attribute</span></pre>

    <p>When <code>true</code>, <code>Read</code> only reads data fields into public fields and properties with the <code>[CsvColumn]</code> attribute, ignoring all other fields and properties. And, <code>Write</code> only writes the contents of public fields and properties with the <code>[CsvColumn]</code> attribute.</p>

    <p>When <code>false</code>, all public fields and properties are used.</p>

    <h3><a name="FileCultureName"></a>FileCultureName</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>string</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td>current system setting</td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading and Writing</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain868963'><div>C#</div><div class='pre-action-link'><span id='copycode868963' class='copy-code' data-index='868963' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre868963' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.FileCultureName = <span class="code-string">"</span><span class="code-string">en-US"</span>; <span class="code-comment">//</span><span class="code-comment"> use US style dates and numbers</span></pre>

    <p>Different cultures use different ways to write dates and numbers. 23 May 2008 is 5/23/2008 in the United States (en-US) and 23/5/2008 in Germany (de-DE). Use the <code>FileCultureName</code> field to tell <code>Read</code> how to interpret the dates and numbers it reads from the file, and to tell <code>Write</code> how to write dates and numbers to the file.</p>

    <p>By default, the library uses the current language/country setting on your system. So, if your system uses French-Canadian (fr-CA), the library uses that culture unless you override it with <code>FileCultureName</code>.</p>

    <p>The library uses the same culture names as the .NET "<code>CultureInfo</code>" class (<a href="http://msdn2.microsoft.com/en-us/library/system.globalization.cultureinfo.aspx">full list of names</a>).</p>

    <h3>TextEncoding</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><a href="http://msdn2.microsoft.com/en-us/library/system.text.encoding.aspx" target="_blank"><code>Encoding</code></a></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>Encoding.UTF8</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading and Writing</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain407755'><div>C#</div><div class='pre-action-link'><span id='copycode407755' class='copy-code' data-index='407755' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre407755' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.TextEncoding = Encoding.Unicode; <span class="code-comment">//</span><span class="code-comment"> use Unicode character encoding</span></pre>

    <p>If the files that you read or write are in English, there is no need to set <code>TextEncoding</code>.</p>

    <p>However, if you use languages other than English, the way the characters in your files are encoded may be an issue. You will want to make sure that the encoding used by the library matches the encoding used by any other programs (editors, spreadsheets) that access your files.</p>

    <p>Specifically, if you write files with the Euro symbol, you may need to use Unicode encoding, as shown in the example.</p>

    <h3>DetectEncodingFromByteOrderMarks</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td><code>true</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain82953'><div>C#</div><div class='pre-action-link'><span id='copycode82953' class='copy-code' data-index='82953' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre82953' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.DetectEncodingFromByteOrderMarks = <span class="code-keyword">false</span>; <span class="code-comment">//</span><span class="code-comment"> suppress encoding detection</span></pre>

    <p>Related to <code>TextEncoding</code>. The default normally works fine.</p>

    <p>Tells <code>Read</code> whether to detect the encoding of the input file by looking at the first three bytes of the file. Otherwise, it uses the encoding given in the <code>TextEncoding</code> property.</p>

    <h3>MaximumNbrExceptions</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>int</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td>100</td>		</tr>		<tr>			<td><strong>Applies to:</strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain435615'><div>C#</div><div class='pre-action-link'><span id='copycode435615' class='copy-code' data-index='435615' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre435615' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.MaximumNbrExceptions = -1; <span class="code-comment">//</span><span class="code-comment"> always read entire file before throwing AggregatedException</span></pre>

    <p>Sets the maximum number of exceptions that will be aggregated into an <code>AggregatedException</code>.</p>

    <p>To not have any limit and read the entire file no matter how many exceptions you get, set <code>AggregatedException</code> to -1.</p>

    <p>For details about aggregated exceptions, see the <a href="#Error_Handling">error handling</a> section.</p>

    <h3><a id="NoSeparatorChar">NoSeparatorChar</a></h3>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td>false</td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain546735'><div>C#</div><div class='pre-action-link'><span id='copycode546735' class='copy-code' data-index='546735' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre546735' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.NoSeparatorChar = <span class="code-keyword">true</span>; <span class="code-comment">//</span><span class="code-comment"> Fields are fixed width</span></pre>

    <p>Set this to true when the CSV file uses fixed width fields rather than separator characters.</p>

    <p>The number of characters is specified using the <a href="#CharLength">CharLength</a> property in the <a href="#CsvColumn_Attribute"><code>CsvColumnAttribute</code></a> class.</p>

    <h3><a name="UseFieldIndexForReadingData"></a>UseFieldIndexForReadingData</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>false</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain687197'><div>C#</div><div class='pre-action-link'><span id='copycode687197' class='copy-code' data-index='687197' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre687197' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.UseFieldIndexForReadingData = <span class="code-keyword">true</span>;</pre>

    <p>Modifies the behaviour of the <a href="#FieldIndex">FieldIndex</a> property of the <a href="#CsvColumn_Attribute"><code>CsvColumnAttribute</code></a> class, to make it suitable for fixed width fields. See the description of the <a href="#FieldIndex">FieldIndex</a> property for details.</p>

    <h3>IgnoreTrailingSeparatorChar</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td>false</td>		</tr>		<tr>			<td><strong>Applies to:</strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain196287'><div>C#</div><div class='pre-action-link'><span id='copycode196287' class='copy-code' data-index='196287' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre196287' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.IgnoreTrailingSeparatorChar = <span class="code-keyword">true</span>; <span class="code-comment">//</span><span class="code-comment"> ignore separator character at the end of the line</span></pre>

    <p>Consider following file:</p>

    <p><code>column1;column2;column3;</code></p>

    <p>Though it's not a canonical representation of CSV file, <code>IgnoreTrailingSeparatorChar</code> property tells <code>Read</code> to ignore separator character at the end of the line.</p>

    <h3>IgnoreUnknownColumns</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td>false</td>		</tr>		<tr>			<td><strong>Applies to:</strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <p>There are cases where you don't need to read all the columns, but only a subset of them. Consider the following example of a CSV file containing a list of people:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<th>Id</th>			<th>Name</th>			<th>Last Name</th>			<th>Age</th>			<th>City</th>		</tr>		<tr>			<td>1</td>			<td>John</td>			<td>Doe</td>			<td>15</td>			<td>Washington</td>		</tr>		<tr>			<td>2</td>			<td>Jane</td>			<td>Doe</td>			<td>20</td>			<td>New York</td>		</tr>	</tbody></table>

    <p>
        <br>
        Suppose you have the following class:
    </p>

    <div class='pre-lang' id='premain536278'><div>C#</div><div class='pre-action-link'><span id='copycode536278' class='copy-code' data-index='536278' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre536278' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">class</span> Person 
{
    [CsvColumn(Name = <span class="code-string">"</span><span class="code-string">Name"</span>)]
    <span class="code-keyword">public</span> <span class="code-keyword">string</span> Name { <span class="code-keyword">get</span> ; <span class="code-keyword">set</span>; }
    [CsvColumn(Name = <span class="code-string">"</span><span class="code-string">Last Name"</span>)]
    <span class="code-keyword">public</span> <span class="code-keyword">string</span> LastName { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
    [CsvColumn(Name = <span class="code-string">"</span><span class="code-string">Age"</span>)]
    <span class="code-keyword">public</span> <span class="code-keyword">int</span> Age { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }
}</pre>

    <p>Note that the input file has columns "Id" and "City" which are not listed in the class. This discrepancy would normally cause an exception.</p>

    <p>However, if you set</p>

    <div class='pre-lang' id='premain401260'><div>C#</div><div class='pre-action-link'><span id='copycode401260' class='copy-code' data-index='401260' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre401260' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
fd.IgnoreUnknownColumns = <span class="code-keyword">true</span>;</pre>

    <p>then the columns "Id" and "City" will be ignored without an exception.</p>

    <p>&nbsp;</p>

    <h2>CsvColumn Attribute</h2>

    <p>As shown in the <a href="#How_to_use">Reading from a file</a> and <a href="#writing_to_a_file">Writing to a file</a> examples, you can decorate the public fields and properties of your data class with the <code>CsvColumn</code> attribute to specify such things as the output format for date and number fields.</p>

    <p>Use of the <code>CsvColumn</code> attribute is optional. As long as the <a href="#EnforceCsvColumnAttribute"><code>EnforceCsvColumnAttribute</code></a> property of the <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> object you pass into <code>Read</code> or <code>Write</code> is <code>false</code>, those methods will look at all public fields and properties in the data class. They will then simply use the defaults shown with each <code>CsvColumn</code> property below.</p>

    <p>The <code>CsvColumn</code> attribute has these properties:</p>

    <ul class="property">
        <li><a href="#Name"><code>Name</code></a></li>
        <li><a href="#CanBeNull"><code>CanBeNull</code></a></li>
        <li><a href="#NumberStyle"><code>NumberStyle</code></a></li>
        <li><a href="#OutputFormat"><code>OutputFormat</code></a></li>
        <li><a href="#FieldIndex"><code>FieldIndex</code></a></li>
        <li><a href="#CharLength"><code>CharLength</code></a></li>
    </ul>

    <h3><a id="Name">Name</a></h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>string</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td>Name of the field or property</td>		</tr>		<tr>			<td><strong>Applies to:</strong></td>			<td>Reading and Writing</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain162385'><div>C#</div><div class='pre-action-link'><span id='copycode162385' class='copy-code' data-index='162385' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre162385' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(Name = <span class="code-string">"</span><span class="code-string">StartDate"</span>)]
<span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>The <code>Read</code> and <code>Write</code> methods normally assume that the data fields in the file have the same names as the corresponding fields or properties in the class. Use the <code>Name</code> property to specify another name for the data field.</p>

    <h3><a id="CanBeNull">CanBeNull</a></h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>true</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <div class='pre-lang' id='premain347641'><div>C#</div><div class='pre-action-link'><span id='copycode347641' class='copy-code' data-index='347641' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre347641' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(CanBeNull = false)]
<span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>If <code>false</code>, and a record in the input file does not have a value for this field or property, then the <code>Read</code> method generates a <a href="#MissingRequiredFieldException"><code>MissingRequiredFieldException</code></a> exception.</p>

    <h3><a id="FieldIndex">FieldIndex</a></h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>bool</code></td>		</tr>		<tr>			<td><strong>Default:</strong></td>			<td><code>Int32.MaxValue</code></td>		</tr>		<tr>			<td><strong>Applies to:</strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain273224'><div>C#</div><div class='pre-action-link'><span id='copycode273224' class='copy-code' data-index='273224' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre273224' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(FieldIndex = 1)]
<span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>This property is used for both reading and writing, but in slightly different ways.</p>

    <p><strong>Reading</strong> - The <code>Read</code> method needs to somehow associate data fields in the input file with fields and properties in the data class. If the file has column names in the first record, that's easy - <code>Read</code> simply matches the column names with the names of the fields and properties in the data class.</p>

    <p>However, if the file does not have column names in the first record, <code>Read</code> needs to look at the order of the data fields in the data records to match them with the fields and properties in the data class. Unfortunately though, the .NET framework does not provide a way to reliably retrieve that order from the class definition. So, you have to specify which field/property comes before which field/property by giving the fields and properties a <code>CsvColumn</code> attribute with the <code>FieldIndex</code> property.</p>

    <p>The <code>FieldIndex</code>s do not have to start at 1. They don't have to be consecutive. The <code>Read</code> and <code>Write</code> methods will simply assume that a field/property comes before some other field/property if its <code>FieldIndex</code> is lower.</p>

    <p>When the <a href="#UseFieldIndexForReadingData">UseFieldIndexForReadingData</a> property of the <a href="#CsvFileDescription">CsvFileDescription</a> class is true, <code>FieldIndex</code> specifies the specific index within the row of the value. This is 1 based, so if you set FieldIndex to 3, the value begins from the 3rd character.</p>

    <p><strong>Writing</strong> - The <code>Write</code> method uses the <code>FieldIndex</code> of each field or property to figure out in what order to write the data fields to the output file. Fields and properties without <code>FieldIndex</code> get written last, in random order.</p>

    <h3><a name="CharLength"></a>CharLength</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>int</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>0</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain775627'><div>C#</div><div class='pre-action-link'><span id='copycode775627' class='copy-code' data-index='775627' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre775627' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(CharLength=12)]
<span class="code-keyword">public</span> <span class="code-keyword">string</span> Name { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>Allows you to specify that the Name field has an item in the data row items which takes 12 characters in the data line.</p>

    <p>Used in combination with</p>

    <div class='pre-lang' id='premain629872'><div>C#</div><div class='pre-action-link'><span id='copycode629872' class='copy-code' data-index='629872' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre629872' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
UseFieldIndexForReadingData = <span class="code-keyword">true</span> </pre>

    <p>&nbsp;</p>

    <h3><a name="NumberStyle"></a>NumberStyle</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><a href="http://msdn2.microsoft.com/en-us/library/system.globalization.numberstyles.aspx" target="_blank"><code>NumberStyles</code></a></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td><code>NumberStyles.Any</code></td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Reading of numeric fields only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain305318'><div>C#</div><div class='pre-action-link'><span id='copycode305318' class='copy-code' data-index='305318' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre305318' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(NumberStyle = NumberStyles.HexNumber)]
<span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>Allows you to determine what number styles are allowed in the input file (<a href="http://msdn2.microsoft.com/en-us/library/system.globalization.numberstyles.aspx" target="_blank">list of options</a>).</p>

    <p>By default, all styles are permitted, except for one special case. In order to accept hexadecimal numbers that do not start with 0x, use <code>NumberStyles.HexNumber</code>, as shown in the example.</p>

    <h3>OutputFormat</h3>


    <table cellpadding="3"><tbody>		<tr>			<td><strong>Type:</strong></td>			<td><code>string</code></td>		</tr>		<tr>			<td><strong>Default: </strong></td>			<td>"G"</td>		</tr>		<tr>			<td><strong>Applies to: </strong></td>			<td>Writing only</td>		</tr>	</tbody></table>

    <h4>Example:</h4>

    <div class='pre-lang' id='premain140380'><div>C#</div><div class='pre-action-link'><span id='copycode140380' class='copy-code' data-index='140380' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre140380' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(OutputFormat = <span class="code-string">"</span><span class="code-string">dd MMM yy"</span>)]
<span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>Lets you set the output format of numbers and dates/times. The default "G" format works well for both dates and numbers most of the time.</p>

    <p>When writing a date/time or number field, the <code>Write</code> method first determines the type of the field (<code>DateTime</code>, <code>decimal</code>, <code>double</code>, etc.) and then calls the <code>ToString</code> method for that type, with the given <code>OutputFormat</code>. So, in the example above, if <code>LaunchDate</code> is 23 November 2008, the field written to the file will be "23 Nov 08".</p>

    <p>With many formats, the final result depends on the language/country of the file, as set in the <a href="#FileCultureName"><code>FileCultureName</code></a> property of the <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> object. So, if <code>LaunchDate</code> is 23 November 2008 and you specify the short date format:</p>

    <div class='pre-lang' id='premain991443'><div>C#</div><div class='pre-action-link'><span id='copycode991443' class='copy-code' data-index='991443' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre991443' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-bracket">[</span><span class="code-sdkkeyword">CsvColumn</span>(OutputFormat = <span class="code-string">"</span><span class="code-string">d"</span>)]
<span class="code-keyword">public</span> DateTime LaunchDate { <span class="code-keyword">get</span>; <span class="code-keyword">set</span>; }</pre>

    <p>Then, the final value written to the output file will be "11/23/08" if you use US dates (<code>FileCultureName</code> is set to "en-US"), but "23/11/08" if you use German dates (<code>FileCultureName</code> is set to "de-DE").</p>

    <ul>
        <li><a href="http://msdn2.microsoft.com/en-us/library/system.globalization.datetimeformatinfo.aspx" target="_blank">Format Codes for DateTime</a></li>
        <li><a href="http://msdn2.microsoft.com/en-us/library/dwhawy9k.aspx" target="_blank">Standard Numeric Format Strings</a></li>
        <li><a href="http://msdn2.microsoft.com/en-us/library/0c899ak8.aspx" target="_blank">Custom Numeric Format Strings</a></li>
    </ul>

    <h2>Error Handling</h2>

    <ul>
        <li>
            <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx">Exception</a>

            <ul>
                <li>
                    <code>LINQtoCSVException</code>

                    <ul>
                        <li><a href="#BadStreamException"><code>BadStreamException</code></a></li>
                        <li><a href="#CsvColumnAttributeRequiredException"><code>CsvColumnAttributeRequiredException</code></a></li>
                        <li><a href="#DuplicateFieldIndexException"><code>DuplicateFieldIndexException</code></a></li>
                        <li><a href="#RequiredButMissingFieldIndexException"><code>RequiredButMissingFieldIndexException</code></a></li>
                        <li><a href="#ToBeWrittenButMissingFieldIndexException"><code>ToBeWrittenButMissingFieldIndexException</code></a></li>
                        <li><a href="#NameNotInTypeException"><code>NameNotInTypeException</code></a></li>
                        <li><a href="#MissingCsvColumnAttributeException"><code>MissingCsvColumnAttributeException</code></a></li>
                        <li><a href="#TooManyDataFieldsException"><code>TooManyDataFieldsException</code></a></li>
                        <li><a href="#TooManyNonCsvColumnDataFieldsException"><code>TooManyNonCsvColumnDataFieldsException</code></a></li>
                        <li><a href="#MissingFieldIndexException"><code>MissingFieldIndexException</code></a></li>
                        <li><a href="#MissingRequiredFieldException"><code>MissingRequiredFieldException</code></a></li>
                        <li><a href="#WrongDataFormatException"><code>WrongDataFormatException</code></a></li>
                        <li><a href="#AggregatedException"><code>AggregatedException</code></a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <p>When the <code>Read</code> and <code>Write</code> methods detect an error situation, they throw an exception with all information you need to solve the problem. As you would expect, all exceptions are derived from the .NET class <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>.</p>

    <p><strong>Retrieving error information</strong></p>

    <p>In addition to such properties as <code>StackTrace</code> and <a href="http://msdn2.microsoft.com/en-us/library/system.exception.message.aspx" target="_blank"><code>Message</code></a>, the <code>Exception</code> class exposes the <a href="http://msdn2.microsoft.com/en-us/library/system.exception.data.aspx" target="_blank"><code>Data</code></a> property. The <code>Read</code> and <code>Write</code> methods use that property to provide exception information in a way that is easy for your code to read, while they provide error messages targeted at humans via the <code>Message</code> property.</p>

    <p>The description for each exception (further below) shows what information is stored in the <code>Data</code> property.</p>

    <p><strong>Aggregating exceptions</strong></p>

    <p>When the <code>Read</code> method detects an error while reading data from a file, it does not throw an exception right away, but stores it in a list of type <code>List&lt;Exception&gt;</code>. Then, after it has processed the file, it throws a single exception of type <a href="#AggregatedException"><code>AggregatedException</code></a>, with the list of exceptions in its <code>Data["InnerExceptionsList"]</code> property. This allows you to fix all problems with an input file in one go, instead of one by one.</p>

    <p>You can limit the number of exceptions that get aggregated this way by setting the <a href="#MaximumNbrExceptions"><code>MaximumNbrExceptions</code></a> property of the <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> object that you pass to the <code>Read</code> method. By default, <code>MaximumNbrExceptions</code> is set to 100. When the limit is reached, the <code>AggregatedException</code> is thrown right away, with the list of exceptions aggregated so far.</p>

    <p>Not all exceptions get aggregated! Before <code>Read</code> starts reading data from a file, it first processes column names, <code>CsvColumn</code> attributes, etc. If something goes wrong during that preliminary stage, it throws an exception right away.</p>

    <p><strong>Deferred reading</strong></p>

    <p>Keep in mind that due to <a href="#DeferredReading">deferred reading</a>, you can get exceptions not only when you invoke the <code>Read</code> method, but also when you access the <code>IEnumerable&lt;T&gt;</code> that is returned by the <code>Read</code> method.</p>

    <p><strong>Example</strong></p>

    <p>The following code reads a file and processes exceptions. To show how to use the <code>Data</code> property, it includes some special processing for the <code>DuplicateFieldIndexException</code> - thrown when the <code>Read</code> and <code>Write</code> methods detect two fields or properties with the same <a href="#FieldIndex"><code>FieldIndex</code></a>.</p>

    <div class='pre-lang' id='premain69320'><div>C#</div><div class='pre-action-link'><span id='copycode69320' class='copy-code' data-index='69320' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre69320' style='margin-top:0;' class=' lang-csharp' data-language='cs' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
<span class="code-keyword">public</span> <span class="code-keyword">static</span> <span class="code-keyword">void</span> ShowErrorMessage(<span class="code-keyword">string</span> errorMessage)
{
    <span class="code-comment">//</span><span class="code-comment"> show errorMessage to user</span>
    <span class="code-comment">//</span><span class="code-comment"> .....</span>
}
<span class="code-keyword">public</span> <span class="code-keyword">static</span> <span class="code-keyword">void</span> ReadFileWithExceptionHandling()
{
    <span class="code-keyword">try</span>
    {
        CsvContext cc = <span class="code-keyword">new</span> CsvContext();
        CsvFileDescription inputFileDescription = <span class="code-keyword">new</span> CsvFileDescription
        {
            MaximumNbrExceptions = <span class="code-digit">50</span>
    <span class="code-comment">//</span><span class="code-comment"> limit number of aggregated exceptions to 50</span>
        };
        IEnumerable&lt;Product&gt; products =
            cc.Read&lt;Product&gt;(<span class="code-string">"</span><span class="code-string">products.csv"</span>, inputFileDescription);
    <span class="code-comment">//</span><span class="code-comment"> Do data processing</span>
    <span class="code-comment">//</span><span class="code-comment"> ...........</span>
    }
    <span class="code-keyword">catch</span>(AggregatedException ae)
    {
    <span class="code-comment">//</span><span class="code-comment"> Process all exceptions generated while processing the file</span>
        List&lt;Exception&gt; innerExceptionsList =
            (List&lt;Exception&gt;)ae.Data[<span class="code-string">"</span><span class="code-string">InnerExceptionsList"</span>];
    <span class="code-keyword">foreach</span> (Exception e <span class="code-keyword">in</span> innerExceptionsList)
        {
            ShowErrorMessage(e.Message);
        }
    }
    <span class="code-keyword">catch</span>(DuplicateFieldIndexException dfie)
    {
    <span class="code-comment">//</span><span class="code-comment"> name of the class used with the Read method - in this case "Product"</span>
    <span class="code-keyword">string</span> typeName = Convert.ToString(dfie.Data[<span class="code-string">"</span><span class="code-string">TypeName"</span>]);
    <span class="code-comment">//</span><span class="code-comment"> Names of the two fields or properties that have the same FieldIndex</span>
    <span class="code-keyword">string</span> fieldName = Convert.ToString(dfie.Data[<span class="code-string">"</span><span class="code-string">FieldName"</span>]);
    <span class="code-keyword">string</span> fieldName2 = Convert.ToString(dfie.Data[<span class="code-string">"</span><span class="code-string">FieldName2"</span>]);
    <span class="code-comment">//</span><span class="code-comment"> Actual FieldIndex that the two fields have in common</span>
    <span class="code-keyword">int</span> commonFieldIndex = Convert.ToInt32(dfie.Data[<span class="code-string">"</span><span class="code-string">Index"</span>]);
    <span class="code-comment">//</span><span class="code-comment"> Do some processing with this information</span>
    <span class="code-comment">//</span><span class="code-comment"> .........</span>
    <span class="code-comment">//</span><span class="code-comment"> Inform user of error situation</span>
        ShowErrorMessage(dfie.Message);
    }
    <span class="code-keyword">catch</span>(Exception e)
    {
        ShowErrorMessage(e.Message);
    }
}</pre>

    <h3><a id="BadStreamException">BadStreamException</a></h3>

    <p>This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>.</p>

    <p>Thrown when a stream is passed to <code>Read</code>, which is either <code>null</code>, or does not support <code>Seek</code>. The stream has to support <code>Seek</code>, otherwise it cannot be rewound when the <code>IEnumarable</code> returned by <code>Read</code> is accessed.</p>

    <h3>CsvColumnAttributeRequiredException</h3>

    <p>This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>.</p>

    <p>Thrown when the <code>CsvFileDescription</code> object that has been passed to <code>Read</code> has both <a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a> and <a href="#EnforceCsvColumnAttribute"><code>EnforceCsvColumnAttribute</code></a> set to <code>false</code>.</p>

    <p>If there are no column names in the file, then <code>Read</code> relies on the <code>FieldIndex</code> of each field or property in the data class to match them with the data fields in the file. However, if <code>EnforceCsvColumnAttribute</code> is <code>false</code>, that implies that fields or properties without the <code>CsvColumn</code> attribute can also be used to accept data, while they do not have a <code>FieldIndex</code>.</p>

    <h3>DuplicateFieldIndexException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class with the offending fields/properties</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td rowspan="2"><code>string</code></td>			<td rowspan="2">Fields or properties with a duplicate <code>FieldIndex</code></td>		</tr>		<tr>			<td><code>Data["FieldName2"]</code></td>		</tr>		<tr>			<td><code>Data["Index"]</code></td>			<td><code>int</code></td>			<td>Common <code>FieldIndex</code></td>		</tr>	</tbody></table>

    <p>Thrown when two or more fields or properties have the same <a href="#FieldIndex"><code>FieldIndex</code></a>.</p>

    <h3>RequiredButMissingFieldIndexException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class with the offending field/property</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td><code>string</code></td>			<td>Field or property without <code>FieldIndex</code></td>		</tr>	</tbody></table>

    <p>When there are no column names in the first record in the file (<a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a> is <code>false</code>), each required field (<a href="#CanBeNull"><code>CanBeNull</code></a> attribute set to <code>false</code>) must have a <a href="#FieldIndex"><code>FieldIndex</code></a> attribute, otherwise it cannot be read from the file.</p>

    <h3>ToBeWrittenButMissingFieldIndexException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class with the offending field/property</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td><code>string</code></td>			<td>Field or property without <code>FieldIndex</code></td>		</tr>	</tbody></table>

    <p>When writing a file without column names in the first record, you will want to make sure that the data fields appear in each line in a well defined order. If that order were random, it would be impossible for some other program to reliably process the file.</p>

    <p>So, when the <code>Write</code> method is given a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> with <a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a> as <code>false</code>, and it finds a field or property that doesn't have a <code>FieldIndex</code>, it throws a <code>ToBeWrittenButMissingFieldIndexException</code>.</p>

    <h3>NameNotInTypeException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class missing the field/property</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td><code>string</code></td>			<td>Field or property that isn't found</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>If the <code>Read</code> method is given a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> with <a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a> as <code>true</code>, and one of the column names in the first record in the file does not match a field or property, it throws a <code>NameNotInTypeException</code>.</p>

    <h3>MissingCsvColumnAttributeException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class with the offending field/property</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td><code>string</code></td>			<td>Field or property without <code>CsvColumn</code> attribute</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>The <code>Read</code> method may throw this exception when it is given a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> with both <a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a> and <a href="#EnforceCsvColumnAttribute"><code>EnforceCsvColumnAttribute</code></a> as <code>true</code>. When <code>Read</code> reads the column names from the first record, one of those column names may match a field or property that doesn't have a <code>CsvColumn</code> attribute, even though only fields and properties with a <code>CsvColumn</code> attribute can be used. When that happens, <code>Read</code> throws a <code>MissingCsvColumnAttributeException</code>.</p>

    <h3>TooManyDataFieldsException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the data class</td>		</tr>		<tr>			<td><code>Data["LineNbr"]</code></td>			<td><code>int</code></td>			<td>Line in the input file with an excess data field</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>Thrown when a record in the input file has more data fields than there are public fields and properties in the data class.</p>

    <h3>TooManyNonCsvColumnDataFieldsException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the data class</td>		</tr>		<tr>			<td><code>Data["LineNbr"]</code></td>			<td><code>int</code></td>			<td>Line in the input file with an excess data field</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>When only fields or properties that have a <code>CsvColumn</code> attribute are used (<code>Read</code> is given a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> with <a href="#EnforceCsvColumnAttribute"><code>EnforceCsvColumnAttribute</code></a> as <code>true</code>), and a record in the input file has more data fields than there are fields and properties with the <code>CsvColumn</code> attribute, a <code>TooManyNonCsvColumnDataFieldsException</code> is thrown.</p>

    <h3>MissingFieldIndexException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the data class</td>		</tr>		<tr>			<td><code>Data["LineNbr"]</code></td>			<td><code>int</code></td>			<td>Line with offending field</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>If there are no column names in the first record of the input file (<code>Read</code> is given a <a href="#CsvFileDescription"><code>CsvFileDescription</code></a> with <a href="#FirstLineHasColumnNames"><code>FirstLineHasColumnNames</code></a> as <code>false</code>), then <code>Read</code> relies on the <a href="#FieldIndex"><code>FieldIndex</code></a> of the fields and properties in the data class to match them with the data fields in the file.</p>

    <p>When a record in the input file has more data fields than there are fields and properties in the data class with a <code>FieldIndex</code>, then a <code>MissingFieldIndexException</code> is thrown.</p>

    <h3>MissingRequiredFieldException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class with the required field/property</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td><code>string</code></td>			<td>Name of the required field/property</td>		</tr>		<tr>			<td><code>Data["LineNbr"]</code></td>			<td><code>int</code></td>			<td>Line where missing field should have been</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>Thrown when a record from the input file does not have a value for a required field or property (<a href="#CanBeNull"><code>CanBeNull</code></a> property of the <a href="#CsvColumn"><code>CsvColumn</code></a> attribute set to <code>false</code>).</p>

    <p><strong>Difference between null and empty string</strong></p>

    <p>Empty strings and strings consisting of only white space need to be surrounded by quotes, so they are recognized as something other than <code>null</code>.</p>

    <p>These input lines both have the data fields "abc", null, and "def":</p>

    <div class='pre-lang' id='premain311360'><div> </div><div class='pre-action-link'><span id='copycode311360' class='copy-code' data-index='311360' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre311360' style='margin-top:0;' data-language='text' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
abc,,def
abc,   ,def</pre>

    <p>While this line has the data fields "abc", followed by the empty string, followed by "def":</p>

    <div class='pre-lang' id='premain74362'><div> </div><div class='pre-action-link'><span id='copycode74362' class='copy-code' data-index='74362' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre74362' style='margin-top:0;' data-language='text' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
abc,"",def</pre>

    <p>and this line has the data fields "abc", followed by a string with three spaces, followed by "def":</p>

    <div class='pre-lang' id='premain528918'><div> </div><div class='pre-action-link'><span id='copycode528918' class='copy-code' data-index='528918' style='visibility:hidden'>Copy Code</span></div></div>
<pre id='pre528918' style='margin-top:0;' data-language='text' data-collapse='False' data-linecount='False' data-allow-shrink='True' data-collapse='False'>
abc,"   ",def</pre>

    <h3><a id="WrongDataFormatException">WrongDataFormatException</a></h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the class with the field/property</td>		</tr>		<tr>			<td><code>Data["FieldName"]</code></td>			<td><code>string</code></td>			<td>Name of the field/property</td>		</tr>		<tr>			<td><code>Data["FieldValue"]</code></td>			<td><code>string</code></td>			<td>The offending data value</td>		</tr>		<tr>			<td><code>Data["LineNbr"]</code></td>			<td><code>int</code></td>			<td>Line with offending data value</td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>	</tbody></table>

    <p>Thrown when a field has the wrong format. For example, a numeric field with the value "abc".</p>

    <h3>AggregatedException</h3>

    <p><strong>Additional Properties</strong> - This exception exposes the same properties as <a href="http://msdn2.microsoft.com/en-us/library/system.exception.aspx" target="_blank"><code>Exception</code></a>, plus these additional properties:</p>


    <table border="0" cellpadding="0" cellspacing="5"><tbody>		<tr>			<td><strong>Property</strong></td>			<td><strong>Type</strong></td>			<td><strong>Description</strong></td>		</tr>		<tr>			<td><code>Data["TypeName"]</code></td>			<td><code>string</code></td>			<td>Name of the data class used by <code>Read</code></td>		</tr>		<tr>			<td><code>Data["FileName"]</code></td>			<td><code>string</code></td>			<td>Name of the input file</td>		</tr>		<tr>			<td><code>Data["InnerExceptionsList"]</code></td>			<td><code>List&lt;Exception&gt;</code></td>			<td>List of <code>Exception</code>s</td>		</tr>	</tbody></table>

    <p>Used to aggregate exceptions generated while reading a file (<a href="#AggregatingExceptions">more details</a>).</p>









