---
Excerpt: No menu excerpt
---

@{
    Layout = "_BigTextLayout.cshtml";
}

@section css {
    <link href="nomenu.css" />
}

@section js {
    <script src="nomenu.js"></script>
}



<p>
    no menu here!!

</p>
