.formmenu {
    position: fixed;
  right: 10px;
  top: 10px;
  border: 1px solid red;
  background-color: white;
}

/* Remove bullets and reduce indent of the items. */
.formmenu ul {
    list-style-type: none;
    margin-left: -25px;
  }

.formmenu-item {
    cursor: pointer;
    clear: both;
}

.formmenu-highlighted-dom-item {
    background-color: yellow;
}

/* 
Give formmenu-expand a width, so menu item captions align nicely even if one has an open/close
and the other doesn't. 
Because of this, formmenu-expand and formmenu-caption have to be floated lef.
*/
.formmenu-expand {
    float: left;
    display: block;
    width: 10px;
}

.formmenu-caption {
    float: left;
    display: block;
}

/*
Make sure there is a character in formmenu-expand even if you do not want to show an open/close,
otherwise it won't be given the width.
Cannot use &nbps; in content, because then the browser just shows "nbsp". Instead, use \00a0. 
See https://stackoverflow.com/questions/2965229/nbsp-not-working-in-css-content-tag
*/
.formmenu-expand::after {
    content: "\00a0";
}

.formmenu-item-closed .formmenu-expand::after {
    content: "+ ";
}

.formmenu-item-closed + ul {
    display: none;
}

.formmenu-item-open .formmenu-expand::after {
    content: "- ";
}

.formmenu-is-visible .formmenu-caption {
    color: darkgoldenrod;
}

/* Make menu item open if one its children is visible (in the main page), even if 
it was closed by the close button (-). 
Give this definition higher specificity by adding .formmenu, so it overrides .formmenu-item-closed.
*/
.formmenu .formmenu-is-parent-of-visible + ul {
    display: block;
}

.formmenu-is-filter-result {
    
}

.formmenu .formmenu-is-parent-of-filter-result + ul {
    display: block;
}

.formmenu-matching-filter-text {
    background-color: yellow;
}

.formmenu-filter-bar {

}

.formmenu-hidden {

}

.formmenu-hidden ul, 
.formmenu-hidden .formmenu-filter-bar {
    display: none;
}

.formmenu-shown {

}

.formmenu-menu-hide-show {
    cursor: pointer;
}

.formmenu-hidden .formmenu-menu-hide-show::after {
    content: "<< ";
}

.formmenu-shown .formmenu-menu-hide-show::after {
    content: ">> ";
}

/* If filter is active, only show selected items and their parents */
.formmenu-filter-is-active li div {
    display: none;
}

.formmenu-filter-is-active .formmenu-is-filter-result,
.formmenu-filter-is-active .formmenu-is-parent-of-filter-result
 {
    display: block;
}
