/*! 
Copyright
Source code at:
Doco at:
*/

@import "_definitions.formmenu";

.formmenu {
    position: fixed;
    right: 10px;
    top: 10px;
    border: 1px solid red;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    // Remove bullets and reduce indent of the items.
    ul {
        list-style-type: none;
        margin-left: -25px;
    }

    // Only applies to very first ul. Place this after the .formmenu ul, so it overrides
    // the margin-left.
    // Note that the overflow-y scroll is on this ul, so the filter box doesn't scroll.
    // Otherwise it could scroll up and out of sight.
    & > ul {
        padding: 0 10px 0 10px; 
        margin: 5px 0 0 0; 

        overflow-x: hidden;
        overflow-y: scroll;
        flex-grow: 1;
    }

    button {
        cursor: pointer;
    }

    button[disabled] {
        cursor: auto;
    }

    .formmenu-filter-bar {
        display: flex;

        .formmenu-filter {
            display: inline;
            width: auto;
            flex-grow: 1;

            // If you do not add this, the search box will start to poke out the right side of the menu
            // box, and the x to clear the box will become out of reach.
            overflow: hidden;
        }
    }

    .formmenu-buttonarea {
        position:  relative; /* Needed for abolute positioning of the resize icon */
        height: 20px; /* Needed to show the resize icon if there are no buttons */
        padding-left: 18px;

        .formmenu-resize-icon {
            padding-left: 2px;
            position: absolute;
            left: 0;
            bottom: -3px;
            cursor: ne-resize;
    
            &::after {
                content: "\25E3";
            }
        }
    }
}

/********************************************/
/* Form menu item */

.formmenu-item {
    cursor: pointer;
    display: flex;
}

.formmenu-highlighted-dom-item {
    animation-duration: 0.5s;
    animation-name: formmenu-highlighted-dom-item-animation;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

@keyframes formmenu-highlighted-dom-item-animation {
    from {
        background-color: auto;
    }
    
    to {
        background-color: yellow;
    }
  }
  
/********************************************/
/* Form menu expand / collapse */

// Give formmenu-expand a width, so menu item captions align nicely even if one has an open/close
// and the other doesn't. 
// Because of this, formmenu-expand and formmenu-caption have to be floated lef.

.formmenu-expand {
    display: block;
    width: 10px;
    white-space: nowrap;
}

.formmenu-caption {
    display: block;
    white-space: nowrap;
}

// Make sure there is a character in formmenu-expand even if you do not want to show an open/close,
// otherwise it won't be given the width.
// Cannot use &nbps; in content, because then the browser just shows "nbsp". Instead, use \00a0. 
// See https://stackoverflow.com/questions/2965229/nbsp-not-working-in-css-content-tag

.formmenu-expand {
    color: black;
    text-decoration: none;
    pointer-events: none;

    &::after {
        content: "\00a0";
    }
}

.formmenu-has-children {

    .formmenu-expand {
        pointer-events: auto;

        &::after {
            content: "+";
        }
    }

    &+ul {
        display: none;
    }

    &.formmenu-item-open {
        .formmenu-expand::after {
            content: "-";
        }

        &+ul {
            display: block;
        }
    }
}

/******************************************************/
/* Visible */

.formmenu-is-visible .formmenu-caption {
    color: darkgoldenrod;
}

/********************************************************/
/* Form menu hide/show */

.formmenu-open-button-bar {
    display: none;
}

.formmenu-hidden {
    .formmenu-filter-bar, ul, .formmenu-buttonarea {
        display: none;
    }

    background-color: transparent;
    border: none;

    .formmenu-open-button-bar {
        display: block;

        button {
            float: right;
        }
    }
}

.formmenu-menu-hide-show {
    cursor: pointer;
}

.formmenu-menu-hide-show::after {
    content: ">> ";
}

.formmenu-hidden .formmenu-menu-hide-show::after {
    content: "<< ";
}

/******************************************************/
/* Filter */

.formmenu-matching-filter-text {
    background-color: yellow;
}

.formmenu-is-textmatch {
    
}

//############  @include filter-showhide("textmatch");

//#######################
// .formmenu-filter-button {
//     cursor: pointer;
//     min-width: 10px;
//     display: inline-block;
//     border: 1px grey solid;
//     margin-right: 2px;
//     text-align: center;
// }

//#######################
// .formmenu-filter-button-disabled.formmenu-filter-button {
//     background-color: #f0f0f0;
//     color: #808080;
//     cursor: auto;
// }

// .formmenu-filter-button-depressed .formmenu-filter-button {
//     border: 2px black solid;
// }

button.formmenu-filter-button-depressed {
    border: 2px black solid;
}

.formmenu-expand-all-menu-button::after {
    content: "+";
}

.formmenu-collapse-all-menu-button::after {
    content: "-";
}

