@import "_definitions.formmenu";

.formmenu-is-required .formmenu-caption::after {
    content: "*";
}

.formmenu-is-invalid .formmenu-caption {
    color: red;
}

.formmenu-required-filter-button::after {
    content: "*";
}

.formmenu-invalid-filter-button::after {
    content: "!";
}
