
.formmenu-is-required .formmenu-caption::after {
    content: "*";
}

.formmenu-is-invalid .formmenu-caption {
    color: red;
}

.formmenu-required-filter-button::after {
    content: "\2731";
}

.formmenu-invalid-filter-button::after {
    content: "\2716";
    color: red;
}
