@import "_definitions.formmenu";

.formmenu-is-required .formmenu-caption::after {
    content: "*";
}

.formmenu-is-invalid .formmenu-caption::after {
    content: "!";
}

@include filter-showhide("required");
@include filter-showhide("invalid");

.formmenu-required-filter-is-active .formmenu-required-filter-button,
.formmenu-invalid-filter-is-active .formmenu-invalid-filter-button {
    border: 2px black solid;
}

.formmenu-required-filter-button::after {
    content: "*";
}

.formmenu-invalid-filter-button::after {
    content: "!";
}






.formmenu-invalid-filter-is-active  :not(.formmenu-is-invalid) > .formmenu-caption {
    background-color: red;
}