# bigformmenu

* Copyright (c) 2016-__YEAR__ Mattijs Perdeck | License: MIT
* Version: __Version__
* NPM: https://www.npmjs.com/package/bigformmenu
* Source Code: https://github.com/mperdeck/bigformmenu
* Documentation: https://bigformmenu.com

https://cdn.jsdelivr.net/npm/bigformmenu@__Version__/dist/bigformmenu.min.js
https://cdn.jsdelivr.net/npm/bigformmenu@__Version__/dist/bigformmenu.min.css

