/*
// ============================================
// Viewport width below which the menu is made invisible.
//
// Add the snippet below to your CSS, and change the min-width to the minimum viewport width you prefer.
// The below example sets this to 1200px.
*/

.bigformmenu {
    display: none;
}

@media screen and (min-width: 1200px) {
    .bigformmenu {
        display: flex;
    }
}

/*
// =====================================================
// Resizers

// By default 1) the height of the menu is adjusted automatically
// by the number of menu items; and 2) the user can only adjust the width of the menu,
// not the height.

// ---------------------------------------------
// Add the snippet below to your CSS to 1) not automatically adjust the height of the menu based on the
// number of menu items;
// and 2) let the user adjust both width and height of the menu.
//
// To make the menu less tall, increase the "bottom" property below (which is the distance
// between bottom of menu and bottom of window).
*/

.bigformmenu {
    bottom: 10px;
    max-height: 100%;

    .bigformmenu-vertical-resizer {
        display: block;
    }
}

/*
// ---------------------------------------------
// Add the snippet below to your CSS to hide the horizontal resizer. 
// The user will no longer be able to change the width of the menu.
*/

.bigformmenu {
    .bigformmenu-left-horizontal-resizer { 
        display: none; 
    }
}

/*
// ---------------------------------------------
// Add the snippet below to your CSS to put the menu to the left of the screen.
// This 
// 1) deactivates the left hand resizer and activates the right hand resizer.
// 2) adds a padding-right, so user can use both the right hand resizer and the scrollbar (also sits at the right hand side).
// 3) swaps the captions of the show/hide buttons.
// 4) sticks the menu to the left of the screen instead of the right.
*/

.bigformmenu {
    .bigformmenu-left-horizontal-resizer {
        display: none;
    }

    .bigformmenu-right-horizontal-resizer {
        display: block;
    }

    .bigformmenu-menu-show::after {
        content: "\25B6";
    }

    .bigformmenu-menu-hide::after {
        content: "\25C0";
    }

    &.bigformmenu-hidden {
        .bigformmenu-open-button-bar {
            button {
                float: left;
            }
        }
    }

    right: auto;
    left: 10px;
    padding-right: 1px;
}

/*
// =====================================================
// Patches for Bootstrap 4
//
// Add the snippet below to your CSS if you added filter buttons and applied Bootstrap btn classes to them.
// If you did not add filter buttons, no need to do anything.
*/

.bigformmenu .bigformmenu-filter-bar button.bigformmenu-filter-button-depressed {
    box-shadow: 4px 4px 4px #888888;
}

/*
    ======================================================
    State buttons

    Show prev/next buttons instead of filter buttons
*/

.bigformmenu {
    width: 270px;

    .bigformmenu-invalid-filter-button {
        display: none;
    }

    .bigformmenu-invalid-next-button {
        display: inline-block;
    }

    .bigformmenu-invalid-previous-button {
        display: inline-block;
    }

    .bigformmenu-required-filter-button {
        display: none;
    }

    .bigformmenu-required-next-button {
        display: inline-block;
    }

    .bigformmenu-required-previous-button {
        display: inline-block;
    }
}

/*
    Button bar

    Removes the menu items and filter and related buttons, and transforms the remainder of the big form menu into
    a fixed button bar at the bottom of the screen.

    Combine this with the option to show prev/next buttons instead of filter buttons.
    */

.bigformmenu {
    width: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    flex-direction: row;
    justify-content: center;
    z-index: 500;
    // Applies to both the filter buttons and the "show menu" button
    .bigformmenu-filter-button {
        margin: 7px 3px 5px 3px;
        height: 30px;
    }

    .bigformmenu-filter-bar {
        .bigformmenu-expand-all-menu-button, .bigformmenu-collapse-all-menu-button, .bigformmenu-filter {
            display: none;
        }

        .bigformmenu-menu-hide::after {
            content: "\25BC";
        }
    }

    .bigformmenu-open-button-bar {
        .bigformmenu-menu-show {
            position: fixed;
            right: 0;
            bottom: 0;

            &::after {
                content: "\25B2";
            }
        }
    }

    ul.bigformmenu-top-menuitems {
        display: none;
    }

    .bigformmenu-filter-bar, .bigformmenu-buttonarea {
        display: inline-block;
        flex-wrap: nowrap;
    }
    // This assumes that the form's buttons are at the bottom of the form.
    // If that is the case, the button bar will disappear when the form is scrolled to the bottom.
    // If that didn't happen, you could never see the very bottom of the page, because the last 50px
    // would have been obscured by the button bar.
    &.bigformmenu-all-buttons-visible, &.bigformmenu-scrolled-to-menu-height {
        animation-duration: 1.5s;
        animation-name: bigformmenu-all-buttons-visible-animation;
        opacity: 0;
    }

    &:not(.bigformmenu-all-buttons-visible):not(.bigformmenu-scrolled-to-menu-height) {
        animation-duration: 1.5s;
        animation-name: bigformmenu-all-buttons-visible-animation-not;
        opacity: 1;
    }
}

@keyframes bigformmenu-all-buttons-visible-animation {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes bigformmenu-all-buttons-visible-animation-not {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* If you do not automatically remove the button bar when the form buttons become visible, add padding to the body of the page,
    so the bottom 50px is not obscured by the button bar.

    body {
        padding-bottom: 50px;
    }
*/


