
/* Required */

.formmenu-is-required .formmenu-caption::after {
    content: " *";
}

.formmenu-required-filter-button::after {
    content: "\2731";
}

.formmenu-required-next-button {
    display: none;

    &::after {
        content: "\2731 \25B6";
    }
}

.formmenu-required-previous-button {
    display: none;

    &::after {
        content: "\25C0 \2731";
    }
}

/* Invalid */

.formmenu-is-invalid .formmenu-caption {
    color: red;
}

.formmenu-invalid-filter-button::after {
    content: "\2716";
    color: red; 
}

.formmenu-invalid-next-button {
    display: none;

    &::after {
        content: "\2716 \25B6";
        color: red;
    }
}

.formmenu-invalid-previous-button {
    display: none;

    &::after {
        content: "\25C0 \2716";
        color: red;
    }
}
