/*! 
Copyright
Source code at:
Doco at:
*/

.bigformmenu {
    position: fixed;
    // Initial size and width of the menu
    // Note that if the screen height becomes less then the height of the menu, any height property will be removed
    right: 10px;
    top: 10px;
    max-height: 95%;
    width: 200px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // Remove bullets and reduce indent of the items.
    ul {
        list-style-type: none;
        margin-left: -25px;
    }
    // Only applies to very first ul. Place this after the .bigformmenu ul, so it overrides
    // the margin-left.
    // Note that the overflow-y scroll is on this ul, so the filter box doesn't scroll.
    // Otherwise it could scroll up and out of sight.
    & > ul {
        padding: 0 10px 0 10px;
        margin: 5px 0 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        flex-grow: 1;
        scrollbar-width: thin;
        // See https://www.digitalocean.com/community/tutorials/css-scrollbars
        &::-webkit-scrollbar {
            width: 6px;
        }
        // You can't just set the width. Have to set scrollbar track and thumb as well. Otherwise no scrollbar will be shown at all.
        &::-webkit-scrollbar-track {
            background-color: gainsboro;
        }

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        }
    }

    &.bigformmenu-ie > ul {
        // IE11 will not produce vertical scrollbars in the ul showing the actual menu items
        // unless that ul has a specific height.
        //TODO: in the JavaScript, dynamically adjust this when the window resizes.
        max-height: 500px;
    }

    button {
        cursor: pointer;
    }

    button[disabled] {
        cursor: auto;
        opacity: 0.5;
    }

    .bigformmenu-vertical-resizer {
        left: 0;
        right: 0;
        bottom: 0;
        height: 5px;
        cursor: n-resize;
        display: none;
    }

    .bigformmenu-left-horizontal-resizer {
        left: 0;
    }

    .bigformmenu-right-horizontal-resizer {
        right: 0;
        display: none;
    }

    .bigformmenu-right-horizontal-resizer, .bigformmenu-left-horizontal-resizer {
        top: 0;
        bottom: 0;
        width: 5px;
        cursor: e-resize;
    }

    .bigformmenu-right-horizontal-resizer, .bigformmenu-left-horizontal-resizer, .bigformmenu-vertical-resizer {
        position: absolute;
        z-index: 1000;
    }
    // Applies to both the filter buttons and the "show menu" button
    .bigformmenu-filter-button {
        margin: 2px;
    }

    .bigformmenu-filter-bar {
        display: flex;
        flex-wrap: wrap;

        .bigformmenu-filter {
            display: inline-block;
            width: 40px;
            flex-grow: 1;
            // If you do not add this, the search box will start to poke out the right side of the menu
            // box, and the x to clear the box will become out of reach.
            overflow: hidden;
        }
    }
    // ******************************************************
    // Form menu item
    .bigformmenu-item {
        white-space: nowrap;
        cursor: pointer;
    }
    // ******************************************************
    // Form menu expand / collapse
    // Give bigformmenu-expand a width, so menu item captions align nicely even if one has an open/close
    // and the other doesn't.
    .bigformmenu-expand {
        display: inline-block;
        width: 10px;
        white-space: nowrap;
    }

    .bigformmenu-expand, .bigformmenu-caption {
        color: black;
        text-decoration: none;
    }

    .bigformmenu-caption {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
    }

    .bigformmenu-has-caption {
        .bigformmenu-caption {
            font-weight: bold;
        }
    }
    // Make sure there is a character in bigformmenu-expand even if you do not want to show an open/close,
    // otherwise it won't be given the width.
    // Cannot use &nbps; in content, because then the browser just shows "nbsp". Instead, use \00a0.
    // See https://stackoverflow.com/questions/2965229/nbsp-not-working-in-css-content-tag
    .bigformmenu-expand {
        pointer-events: none;

        &::after {
            content: "\00a0";
        }
    }

    .bigformmenu-has-children {

        .bigformmenu-expand {
            pointer-events: auto;

            &::after {
                content: "+";
            }
        }

        & + ul {
            display: none;
        }

        &.bigformmenu-item-open {
            .bigformmenu-expand::after {
                content: "\2212";
            }

            & + ul {
                display: block;
            }
        }
    }
    // ******************************************************
    // Visible
    .bigformmenu-is-visible .bigformmenu-caption {
        background-color: #c6ffb3; /* light green */
    }
    // ******************************************************
    // Form menu hide/show
    .bigformmenu-open-button-bar {
        display: none;
    }

    &.bigformmenu-hidden {
        .bigformmenu-filter-bar, ul, .bigformmenu-buttonarea {
            display: none;
        }

        background-color: transparent;
        border: none;

        .bigformmenu-open-button-bar {
            display: block;

            button {
                float: right;
            }
        }
    }

    .bigformmenu-menu-hide::after {
        content: "\25B6";
    }

    .bigformmenu-menu-show::after {
        content: "\25C0";
    }
    // ******************************************************
    // Filter
    .bigformmenu-matching-filter-text {
        background-color: yellow;
    }

    .bigformmenu-is-textmatch {
    }

    button.bigformmenu-filter-button-depressed {
        border: 2px black solid;
    }

    .bigformmenu-expand-all-menu-button::after {
        content: "+";
    }

    .bigformmenu-collapse-all-menu-button::after {
        content: "\2212";
    }

    .bigformmenu-previous-heading-box {
//        display: none;

        &::after {
            content: "\25C0";
        }
    }

    .bigformmenu-next-heading-box {
        // display: none;
        &::after {
            content: "\25B6";
        }
    }

    .bigformmenu-buttonarea {
        display: flex;
        flex-wrap: wrap;

        button {
            margin: 5px 3px 5px 3px;
            flex-grow: 1;
            flex: 1 1 0;
        }
    }
}

/* Ensure menu does not appear on printouts, etc. */
@media not screen {
    .bigformmenu {
        display: none;
    }
}

/* Generates expanding circle around an item in the form itself when user clicks corresponding menu item. */
.bigformmenu-highlighted-dom-item {
    position: relative;
}

.bigformmenu-matching-filter-dom-element {
    background-color: #c6ffb3; /* light green */
}

.bigformmenu-highlighted-dom-item:before {
    animation-duration: 1.5s;
    animation-name: bigformmenu-highlighted-dom-item-animation;
    animation-iteration-count: 1;
    content: "\00a0";
    background-color: transparent;
    border-radius: 50%;
    border: 1px grey solid;
    display: inline-block;
    position: absolute;
}

@keyframes bigformmenu-highlighted-dom-item-animation {
    from {
        padding: 0;
        left: 0;
        top: 0;
        border-color: #808080;
        border-width: 8px;
    }

    to {
        padding: 100px;
        left: -100px;
        top: -100px;
        border-color: transparent;
        border-width: 0;
    }
}

